[user]
	email = ghovmand@csc.com
	name = Gregers Hovmand
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    gr = log --oneline --graph
    rb = rebase --stat
[core]
	editor = vim
[credential]
	helper = cache
[commit]
	template = ~/.git_commit_msg.txt
